body { 
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{ 
 background-color: #1a247b ;
 text-align: center;
 padding-top:50px;
 padding-bottom: 50px;
}


header h1 {
color: white;
font-size: 50px;
 }

 header img { 
 	border-radius: 600px;  /* not sure why the browser still doesn't display it like a cirlce */
 	width: 300px;
 	border: 10px solid white;
 }

 main { 
 max-width: 800px;
 margin:0 auto;
 padding: 20px;
 text-align: center;
 }

 main img { 
 	max-width: 100%;
 }


 h2 {
 font-size: 35px;
 color: #1a247b;
 margin: 40px 0 10px;
 }

ol { 
list-style-position: inside;
}

ul { 
list-style-type: none;
}

 

ul a {
 color: #1a247b;
 }

ul a:hover{ 
 color: white;
 background-color: #10bfd0;
}

footer { 
background-color: #1a247b ;
 text-align: center;
 color: white;
 padding: 50px;
}

footer p{ 
 margin: 0;
}

footer a { 
 color: white;
}

footer a:hover { 
 opacity: 5;
 background-color: white;
 color: #1a247b;
}

p.caption {
 color: #999999;
 font-style: italic;
 margin-top: 0;
 }